<head>
	<script>
	function sendConnect(elem, index) {
		replaceWithConnecting(elem);
		disableOtherButtons(elem);
		essid = document.getElementById("essid".concat(index)).innerHTML
		pass = document.getElementById("pass".concat(index)) ? 
			document.getElementById("pass".concat(index)).value : ""
		id = document.getElementById("id".concat(index)) ? 
			document.getElementById("id".concat(index)).value : ""
		fetch("http://localhost:{{.Port}}/connect", {
			method: 'Post',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				Essid: essid,
				Pass: pass,
				Id: id
			})
		})
		.then(r => r.json())
		.then( s => {
			if (s !== null) {
				alert(s.Error);
				window.location.reload();
			}
			else {
				window.location.reload();
			}
		})
		.catch(err => alert(err))
	}

	function replaceWithConnecting(elem) {
	    connectingTxt = document.createTextNode("Connecting...");
	    elem.style.display = "none";
	    elem.parentNode.appendChild(connectingTxt);
	}

	function sendRefresh(elem) {
		elem.setAttribute("disabled", "true");
		elem.setAttribute("value","Refreshing");
		disableOtherButtons(elem);
		fetch("http://localhost:{{.Port}}/refresh", {
			method: 'Post'
		})
		.then(r => r.json())
		.then( s => {
			if (s !== null) {
				alert(s.Error);
				window.location.reload();
			}
			else {
				window.location.reload();
			}
		})
		.catch(err => alert(err))
	}

	function disableOtherButtons(elem) {
	    btns = document.getElementsByClassName("btn");
	    for (let btn of btns) {
	    	if (btn === elem) {
	    		continue;
	    	}
	    	btn.setAttribute("disabled", "true");
	    }	
	}
	</script>
	<title>WiFi</title>
  <link rel="stylesheet" href="css/stylesheet.css">
  <meta charset="utf-8">
</head>

<body>
	<div class="banner">
      <h1><a href="http://localhost:8000" target="_blank" class="bannerbtn">Service of Services</a></h1>
  </div>

  <div class="content">
  	{{$NoEnc := 0}}
		{{$WpaPsk := 1}}
		{{$WpaEap := 2}}
		{{$connectedEssid := .ConnectedEssid}}
		{{$connectingEssid := .ConnectingEssid}}
		<div class="center">
			<h2 class="center">Available Networks</h2>
			<table class="center">
				<tr>
			    	<th>Essid</th>
			    	<th>Identity</th>
			    	<th>Password / Passphrase</th>
			    	<th><input type="submit" class="textbutton" onclick=sendRefresh(this) value="Refresh"></th>
			  	</tr>
				{{range $idx, $opt := .WifiOpts}}
					{{if eq $opt.AuthSuite $NoEnc}}
						<tr>
			    			<td id="essid{{$idx}}">{{$opt.Essid}}</td>
			    			<td></td>
			    			<td></td>
			    			{{if and (eq $connectedEssid $opt.Essid) (ne $connectedEssid "")}}
			    				<td>Connected</td>
							{{else if and (and (eq $connectingEssid $opt.Essid) (ne $connectingEssid "")) (ne $connectingEssid $connectedEssid) }}
			    				<td>Connecting...</td>
			    			{{else}}
			    				<td><input type="submit" class="textbutton" onclick="sendConnect(this, {{$idx}})" value="Connect"></td>
			    			{{end}}
			  			</tr>
					{{else if eq $opt.AuthSuite $WpaPsk}}
						<tr>
			    			<td id="essid{{$idx}}">{{$opt.Essid}}</td>
			    			<td></td>
			    			<td><input type="password" id="pass{{$idx}}"></td>
			    			{{if and (eq $connectedEssid $opt.Essid) (ne $connectedEssid "")}}
			    				<td>Connected</td>
							{{else if and (and (eq $connectingEssid $opt.Essid) (ne $connectingEssid "")) (ne $connectingEssid $connectedEssid) }}
			    				<td>Connecting...</td>
			    			{{else}}
			    				<td><input type="submit" class="textbutton" onclick="sendConnect(this, {{$idx}})" value="Connect"></td>
			    			{{end}}
			       		</tr>
					{{else if eq $opt.AuthSuite $WpaEap}}
						<tr>
			    			<td id="essid{{$idx}}">{{$opt.Essid}}</td>
			    			<td><input type="text" id="id{{$idx}}"></td>
			    			<td><input type="password" id="pass{{$idx}}"></td>
			    			{{if and (eq $connectedEssid $opt.Essid) (ne $connectedEssid "")}}
			    				<td>Connected</td>
							{{else if and (and (eq $connectingEssid $opt.Essid) (ne $connectingEssid "")) (ne $connectingEssid $connectedEssid) }}
			    				<td>Connecting...</td>
			    			{{else}}
			    				<td><input type="submit" class="textbutton" onclick="sendConnect(this, {{$idx}})" value="Connect"></td>
			    			{{end}}
			  			</tr>
					{{else}}
						<tr>
			    			<td id="essid{{$idx}}">{{$opt.Essid}}</td>
			    			<td colspan="3">Not a supported protocol</td>
			  			</tr>
					{{end}}
				{{else}}
					<td colspan="4">No essids found</td>
				{{end}}
			</table>
		</div>

		{{if and (ne $connectingEssid "") (ne $connectingEssid $connectedEssid) }}
			<script>disableOtherButtons(null)</script>
		{{end}}
  </div>
		
</body>
