# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*~

bbsh
u-root

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
bin
dev
/buildbin
etc/
lib64/
usr/
/lib/
tinycorelinux*
tmp
*.swp
go.cpio
initramfs.cpio
src/init/init
Core/
/5.x
/.bash_history
/init
bzImage
vmlinux

# Python Virtual Env
*.env
*.venv
