sudo: true
language: go
go:
  - 1.8
env:
  - "PATH=/home/travis/gopath/bin:$PATH"
before_install:
  - pwd
  - ls -l
install:
  - ls
script:
  - cat travis.sh
  - bash travis.sh
after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then ghr --username u-root --token $GITHUB_TOKEN --replace --prerelease --debug `git describe --always`  dist/; fi

notifications:
  slack: u-root:S74GnNB8ekAiqNYTjwbEhkQE
