version: 2

templates:
  golang-template:
    &golang-template
    docker:
      - image: uroottest/test-image-amd64:v5.0.0
    working_directory: /go/src/github.com/u-root/u-root
    environment:
      - UROOT_SOURCE: /go/src/github.com/u-root/u-root
      - CGO_ENABLED: 0
      # x7 all timeouts for QEMU VM tests since they run without KVM.
      - UROOT_QEMU_TIMEOUT_X: 7

  integration-template:
    &integration-template
    working_directory: /go/src/github.com/u-root/u-root
    environment:
      - UROOT_SOURCE: /go/src/github.com/u-root/u-root
      - CGO_ENABLED: 0
      # x7 all timeouts for QEMU VM tests since they run without KVM.
      - UROOT_QEMU_TIMEOUT_X: 7
    steps:
      - checkout
      - run:
          name: Test integration
          command: UROOT_SOURCE=/go/src/github.com/u-root/u-root
            UROOT_QEMU_COVERPROFILE=coverage.txt go test -a -v -timeout=15m
            -ldflags='-s' -failfast ./integration/...
          no_output_timeout: 15m
      - run:
          name: Upload integration coverage
          command: bash <(curl -s https://codecov.io/bash)

  beefy-template:
    &beefy-template
    <<: *golang-template
    resource_class: large

workflows:
  version: 2
  build_and_test:
    jobs:
      - test
      - test-build
      - test-integration-amd64
      - test-integration-arm
      - test-integration-arm64
      - race
      - compile_cmds
      - check_templates
      - check_licenses

jobs:
  test:
    <<: *beefy-template
    environment:
      - GOMAXPROCS: 1
    steps:
      - checkout
      - run:
          name: Test Packages
          command: UROOT_SOURCE=/go/src/github.com/u-root/u-root go test -v -a
            -timeout=20m -ldflags='-s' -failfast -coverprofile=coverage_pkg.txt
            -covermode=atomic -coverpkg=./pkg/... ./pkg/...
          no_output_timeout: 15m

      - run:
          name: Test coverage
          command: UROOT_SOURCE=/go/src/github.com/u-root/u-root
            UROOT_QEMU_COVERPROFILE=vmcoverage.txt go test -timeout=20m
            -failfast -coverprofile=coverage.txt -covermode=atomic -cover
            ./cmds/... ./pkg/...

      - run:
          name: Upload coverage
          command: bash <(curl -s https://codecov.io/bash)

  test-build:
    <<: *beefy-template
    steps:
      - checkout
      - run:
          name: Test u-root build
          command: go test -a -timeout=15m .
          no_output_timeout: 15m

  race:
    <<: *beefy-template
    environment:
      - CGO_ENABLED: 1
      - GOMAXPROCS: 1
    steps:
      - checkout
      - run:
          name: Race detector
          command: UROOT_SOURCE=/go/src/github.com/u-root/u-root go test -race
            -timeout=15m -failfast ./cmds/... ./pkg/...

  compile_cmds:
    <<: *golang-template
    steps:
      - checkout
      - run:
          name: build all tools
          command: |
            cd cmds
            go install -a ./...
            cd ../tools
            go install -a ./...

  check_licenses:
    <<: *golang-template
    steps:
      - checkout
      - run:
          name: Check licenses
          command: go run tools/checklicenses/checklicenses.go -c
            tools/checklicenses/config.json

  check_symlinks:
    <<: *golang-template
    steps:
      - checkout
      - run:
          name: Symbol tests to ensure we do not break symlink handling
          command: mkdir /tmp/usr && ln -s /tmp/usr/x /tmp/usr/y && go run u-root.go
            -files /tmp/usr minimal

  check_templates:
    <<: *golang-template
    steps:
      - checkout
      - run:
          name: Ensure that every template builds for a variety of options.
          command: |
            go build .
            goruncmd="./u-root -stats-output-path=/tmp/stats.json"
            $goruncmd minimal
            $goruncmd core
            $goruncmd coreboot-app
            $goruncmd all
            $goruncmd world
            # Fails because of dups. Is this supposed to work?
            #$goruncmd all core
            #$goruncmd all core
            GOOS=plan9 $goruncmd -defaultsh=/bbin/rush plan9
            cat /tmp/stats.json
      - store_artifacts:
          name: Store build stats
          path: /tmp/stats.json
          destination: stats.json

  test-integration-amd64:
    <<: *integration-template
    docker:
      - image: uroottest/test-image-amd64:v5.0.0
    # The resource_class feature allows configuring CPU and RAM resources for each job. Different resource classes are available for different executors. https://circleci.com/docs/2.0/configuration-reference/#resourceclass
    resource_class: large

  test-integration-arm:
    <<: *integration-template
    docker:
      - image: uroottest/test-image-arm:v5.0.0

  # This arch needs a different working dir, so don't use integration-template
  test-integration-arm64:
    docker:
      - image: uroottest/test-image-arm64:v5.1.0
    working_directory: /home/circleci/go/src/github.com/u-root/u-root
    environment:
      - UROOT_SOURCE: /home/circleci/go/src/github.com/u-root/u-root
      - CGO_ENABLED: 0
      # x7 all timeouts for QEMU VM tests since they run without KVM.
      - UROOT_QEMU_TIMEOUT_X: 7
    steps:
      - checkout
      - run:
          name: Test integration
          command: UROOT_SOURCE=/home/circleci/go/src/github.com/u-root/u-root
            UROOT_QEMU_COVERPROFILE=coverage.txt go test -a -v -timeout=15m
            -ldflags='-s' -failfast ./integration/...
          no_output_timeout: 15m
      - run:
          name: Upload integration coverage
          command: bash <(curl -s https://codecov.io/bash)
