// First up: config and functions
@import 'config';
// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';
@import 'reset';

:root {
  --border-radius: 5px;
  --text-glow: 0 0 0.3em color-mix(in srgb, currentColor 30%, transparent);
}

body {
  @include apply-utility('font', 'base');
  @include apply-utility('text', 'step-0');
  background-color: var(--color-void);
  color: var(--color-init);
  text-shadow: var(--text-glow);
}

h1,
h2,
h3 {
  @include apply-utility('font', 'head');
  @include apply-utility('leading', 'flat');
  @include apply-utility('head', 'step-0');
}

h1,
h2 {
  text-align: center;
}

code {
  @include apply-utility('font', 'mono');
  @include apply-utility('color', 'args');
  border: 1px solid #5e6063;
  border-radius: 3px;
  padding: 0.1em;
}

//Utilities
@import 'utilities/anchor-offset';
@import 'utilities/sr-only';

//Layout
@import 'layout/centerflex';
@import 'layout/cluster';
@import 'layout/grid-switcher';
@import 'layout/sidebar';
@import 'layout/stack';
@import 'layout/wrapper';

//Blocks
@import 'blocks/btn';
@import 'blocks/card';
@import 'blocks/case-study-teaser';
@import 'blocks/case-study';
@import 'blocks/community';
@import 'blocks/facts';
@import 'blocks/features';
@import 'blocks/get-started';
@import 'blocks/gopher';
@import 'blocks/home-hero';
@import 'blocks/key-visual';
@import 'blocks/logo-wall';
@import 'blocks/markdown-content';
@import 'blocks/plain-html';
@import 'blocks/site-foot';
@import 'blocks/site-head';
@import 'blocks/testimonials';
@import 'blocks/video-embed';
