body { 
  font: 12px Helvetica, sans-serif; 
}


a.button {
  background-color: #4885ed;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

a:hover {
  background-color: #3875d8;
}

table {
	border-collapse: collapse;
	width: 100%;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
