body { 
  font: 12px Helvetica, sans-serif;
  background-color: #f1f1f1
}

h1 {
  margin-left: 40px;
}

h2.center, h2.centernarrow {
  padding: 5px;
  color: #616161
}

.banner {
  background-color: #3367d6;
  color: white;
  position: absolute; 
  top: 0px; 
  right: 0; 
  left: 0; 
  margin: 0 auto;
}

.bannerbtn {
  text-decoration: none;
  color: white;
}

.content {
  margin-top: 100px;
}

.center {
    margin: auto;
    padding: 5px;
    width: 75%
}

.centernarrow {
  margin: auto;
  padding: 5px;
  width: 50%
}

.button {
  background-color: #4885ed;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

.textbutton {
  color: #3367d6;
  background-color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.submitbtn {
  float: right;
  margin-right: 25%;
  margin-top: 20px;
}

.button:hover {
  background-color: #3875d8;
}

table {
  background-color: white;
  margin:auto;
	border-collapse: collapse;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}

.card {
  background-color: white;
  margin:auto;
  width: 50%;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding-bottom: 10px;
}

.label {
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  margin-top: 0;
}

input.form[type=text] {
  width: 75%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #bbbbbb;
  padding: 0px;
  margin-left: 20px;
  margin-bottom: 10px;
}