name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    # Environment variables
    env:
      # GOPATH is the current directory.
      GOPATH: ${{ github.workspace }}
      # Turn off modules because we are broken.
      GO111MODULE: off

    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
